# Python virtual environment
.venv/

# Environment variables and secrets
.env
.env.*

# Python cache files
__pycache__/
*.py[cod]

# Jupyter files
.ipynb_checkpoints/

# macOS files
.DS_Store

# VS Code settings
.vscode/
